
<section class="signUp-container">
  <header>
    <h1>Welcome to Our House Plant App!</h1>
    <p>Join us and explore these amazing features:</p>
  </header>
  
  <ul>
    <li>Identify your leafy friends.</li>
    <li>Find out about plants life cycles.</li>
    <li>Understand the right amount of sunlight.</li>
    <li>Establish if the plant is poisonous.</li>
    <li>Figure out the watering schedule.</li>
    <li>Decide the best placement for the plant's needs.</li>
    <li>Learn if the plant is edible.</li>
    <!-- Add more features as needed -->
  </ul>
{{#if logged_in}}
  {{#each plants as |plant|}}
  <div class='inventory-container'>
            <div class='card-header col-md-10'>
                  <h2>
                      🌵🪴 Identify Your House Plants 🪴🌿
                  </h2>
            </div>
          
              <div class='add-plant-container'>
                  <h2>
                      Add another house plant!
                  </h2>
              <form class='new-plant-form'>
                      <label for='plant_name'>
                          Plant Name:
                      </label>
                      <br />
            <textarea id='plant_name' name='plant_name' rows='2' cols='30'>
              {{plant_name}}
            </textarea>
                      <br />
                      <br />
                      <label for='edible'>
                          Edible:
                      </label>
                      <br />
            <textarea id='edible' name='edible' rows='1' cols='30'>
              {{edible}}
            </textarea>
                      <br />
                      <br />
                      <label for='poisonous'>
                          Poisonous:
                      </label>
                      <br />
            <textarea id='poisonous' name='poisonous' rows='1' cols='30'>
              {{poisonous}}
            </textarea>
                      <br />
                      <br />
                      <label for='cycle'>
                          Life Cycle:
                      </label>
                      <br />
                      <textarea id='cycle' name='cycle' rows='2' cols='30'>
              {{cycle}}
            </textarea>
                      <br />
                      <br />
                      <label for='watering'>
                          Watering Regimen:
                      </label>
                      <br />
                      <textarea id='watering' name='watering' rows='1' cols='30'>
              {{watering}}
            </textarea>
                      <br />
                      <br />
                      <label for='sunlight'>
                          Sunlight Needs:
                      </label>
                      <br />
                      <textarea id='sunlight' name='sunlight' rows='1' cols='30'>
              {{sunlight}}
            </textarea>
                      <br />
                      <br />
                      <label for='indoor'>
                          Indoor plant:
                      </label>
                      <br />
                      <textarea id='indoor' name='indoor' rows='1' cols='30'>
              {{indoor}}
            </textarea>
                      <br />
                      <br />
                      <button type='submit' value='Submit'>
                          Submit
                      </button>
                  </form>
              </div>
          </div>
  {{/each}}
{{/if}}
  {{#unless logged_in}}
  <form class="signup-form">
  {{!-- groups related controls together --}}
    <fieldset>   
      {{!-- for the caption used legend --}}
      <legend>Sign Up Information</legend>
      <label for="username">Username:</label>
      <input type="text" id="name-signup" name="username" placeholder="Enter a username" required />
      <br />
      <label for="password">Password:</label>
      <input type="password" id="password-signup" name="password" placeholder="Enter a password" required />
      <br />
      <label>
      <input type="checkbox" id="emailCheckbox" name="emailCheckbox" />
      Want to receive emails about plant additions and personalized plant care? Enter your email address here! 
    </label>
    <br />
      <label for="email">Email:</label>
      <input type="email" id="email-signup" name="email" placeholder="Enter email address" />
    </fieldset>
    <button type="submit" class="btn btn-success mt-2 mb-3">Sign Up</button>
  </form>
  {{/unless}}
</section>

<script src="/js/homepage.js"></script>
{{!-- <script src="/js/login.js"></script> --}}
<script src="/js/signup.js"></script>

{{!-- loading spinner? error handling? --}}