<pre>{{plants}}</pre>
<div class="plant-card">
    <div class="plant-card-header">
        {{plant_name}}
    </div>
    <div class="card-body">
        <p>
            Edible:
            {{edible}}
        </p>
        <p>
            Poisonous:
            {{poisonous}}
        </p>
        <p>
            Life cycle:
            {{cycle}}
        </p>
        <p>
            Watering Regimen:
            {{watering}}
        </p>
        <p>
            Sunlight Needs:
            {{sunlight}}
        </p>
        <p>
            Indoor plant:
            {{indoor}}
        </p>

    </div>
</div>