{{#each plants }}
<div class="plant-card">
    <div class="plant-card-header">
        {{common_name}}
    </div>
    <div class="card-body">
        <p>
            Life cycle:
            {{cycle}}
        </p>
        <p>
            Watering Regimen:
            {{watering}}
        </p>
        <p>
            Sunlight Needs:
            {{sunlight}}
        </p>
        {{#default_image}}
        <img src="{{thumbnail}}" />
        {{/default_image}}
    </div>
</div>
{{/each}}