<section class="shop-container">
  <p>{{userPoints}}</p>

  {{#each plantItems as |item|}}
    <article>
      <img src="/images/plants/{{item.id}}.png" alt="{{item.name}}" />
      <h2>{{item.name}}</h2>
      <p>Price: <img src="/images/PlantCoin.png" /> {{item.price}}</p>
      <p>Category: {{item.category}}</p>
      <p>Rarity: {{item.rarity}}</p>
      <button data-item-id="{{item.id}}">Purchase</button>
    </article>
  {{else}}
    <p>No items available.</p>
  {{/each}}
</section>

<script src="/public/js/store.js"></script>
{{!-- things to maybe add more of or w/e item description, quantity select, item reviews, and limit how many are listed pagination  --}}